.services {
  margin-bottom: 100px;
  height: 503px;

  @include tablets {
    width: 100%;
    height: 380px;
    margin-bottom: 72px;
  }

  @include phones {
    height: 362px;
    margin-bottom: 55px;
  }
}

.services__wrapper {
  @include tablets {
    max-width: 100%;
    height: 100%;
  }

  form {
    height: 100%;

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  input[type="radio"] {
    display: none;
  }

  label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24.7%;
    padding: 30px 0;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;

    @include tablets {
      display: none;
    }

    svg {
      margin-right: 12px;
    }
  }

  input:checked + label {
    background: $white;
  }
}

.services__item {
  background: $white;
  padding: 53px 135px 61px 70px;
  display: none;
  justify-content: space-between;
  align-items: flex-end;

  @include tablets {
    display: flex;
    padding: 57px 45px 59px 45px;
  }

  @include phones {
    position: relative;
    padding: 20px 15px 60px 15px;
  }

  picture {
    height: 290px;

    @include tablets {
      height: 260px;
    }

    @include phones {
      position: absolute;
      right: 0;
      top: 100px;
    }
  }

  img {
    @include tablets {
      width: 289px;
      height: 260px;
    }

    @include phones {
      width: 87px;
      height: 113px;
    }
  }
}

.services__info {
  @include phones {
    z-index: 20;
  }

  h2 {
    margin: 0 0 27px 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 141%;

    @include tablets {
      font-size: 18px;
      margin-bottom: 25px;
    }

    @include phones {
      font-size: 16px;
      margin-bottom: 21px;
    }
  }

  ul {
    list-style: url("../img/mark.png");
    margin: 0 0 35px 0;
    padding-left: 20px;

    @include tablets {
      margin-bottom: 30px;
    }

    @include phones {
      margin-bottom: 25px;
      list-style: url("../img/mark-phone.png");
      padding-left: 16px;
    }
  }

  li {
    font-size: 18px;
    line-height: 130%;

    @include tablets {
      font-size: 16px;
    }

    @include phones {
      font-size: 14px;
    }

    &:not(:last-of-type) {
      margin-bottom: 15px;

      @include tablets {
        margin-bottom: 16px;
      }

      @include phones {
        margin-bottom: 12px;
      }
    }
  }

  p {
    font-size: 18px;
    margin: 0;
    line-height: 140%;

    @include tablets {
      font-size: 16px;
    }

    @include phones {
      font-size: 14px;
    }
  }

  a {
    font-weight: 500;
    text-decoration: underline;
    color: $font-main;
  }

  a[href="#"] {
    font-weight: 500;
    max-width: 290px;
    font-size: 16px;
    color: $white;
    background: $blue;
    padding: 16px 30px;
    border-radius: 4px;
    border-color: transparent;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    @include phones {
      margin: 0 auto;
      display: block;
    }

    @include phones {
      font-size: 14px;
      padding: 14px 28px;
    }
  }
}

.services__item_invest {
  .services__info {
    width: 44%;

    @include tablets {
      width: 55%;
    }

    @include phones {
      width: 100%;
    }

    ul {
      @include phones {
        width: 80%;
      }
    }
  }
}

.services__item_credit {
  padding-bottom: 53px;

  @include tablets {
    padding-bottom: 64px;
  }

  @include phones {
    width: 100%;
    padding-bottom: 82px;
  }

  .services__info {
    @include tablets {
      width: 43%;
    }

    @include phones {
      width: 100%;
    }

    ul {
      margin-bottom: 30px;

      @include phones {
        margin-bottom: 23px;
      }
    }

    p {
      @include phones {
        line-height: 143%;
      }
    }
  }
}

.services__item_insurance {
  align-items: flex-start;
  padding-bottom: 45px;

  .services__info {
    width: 35%;

    @include tablets {
      width: 45%;
    }

    @include phones {
      width: 100%;
      padding-top: 35px;
    }

    h2 {
      margin-bottom: 29px;

      @include tablets {
        margin-bottom: 20px;
      }
    }
  }

  picture {
    position: relative;
    bottom: 5px;

    @include tablets {
      bottom: 0;
      top: 5px;
    }

    @include phones {
      position: absolute;
      top: 100px;
    }
  }
}

.services__item_mobile {
  align-items: flex-start;
  padding-bottom: 52px;

  @include tablets {
    padding-top: 54px;
  }

  .services__info {
    width: 45%;

    @include tablets {
      width: 50%;
    }

    @include phones {
      width: 100%;
    }

    ul {
      width: 85%;

      @include tablets {
        width: 100%;
      }

      @include phones {
        width: 80%;
      }
    }
  }

  picture {
    @include tablets {
      position: relative;
      top: 5px;
    }

    @include phones {
      position: absolute;
      top: 100px;
    }
  }
}

input:checked + label[for="tabs-1"] ~ ul li .services__item_invest,
input:checked + label[for="tabs-2"] ~ ul li .services__item_credit,
input:checked + label[for="tabs-3"] ~ ul li .services__item_insurance,
input:checked + label[for="tabs-4"] ~ ul li .services__item_mobile {
  display: flex;
}

.services__pagination {
  display: none;

  @include tablets {
    display: block;
  }
}

.swiper-wrapper {
  box-sizing: border-box;
}
