//breakpoints
$desktop: 1024px;
$tablets: 1023px;
$phones: 767px;

//colors
$font-main: #1f1e25;
$pure-white: #fff;
$white: #f6F7ff;
$tabs-color: #4c4b51;
$blue: #2c36f2;
$purple: #2028b6;
$light-purple: #565EF5;
$light-gray: #e0e1ea;
$gray-blue: #e8f0fd;
$gray-label: #394959;
$gray: #707c87;
$gray-border: #c1c2cA;
$gray-bb: #c4c4c4;
$red: rgb(180, 43, 43);

//fonts
$roboto: "roboto", arial, sans-serif;
